{% extends 'core/base.html' %}
<!-- similar to "view application" but will have edit feature -->

{% block content %}
    <div class="column is-offset-3">    
        <h1 class="title">Your Profile</h1><br> 
        <p> Our AI technology will use your profile & resume to find your dream jobs today!</p><br>
        <hr>
            <p><strong>{{ userprofile.full_name }}</strong></p><br>
            <p>Background:<p>
            <p>{{ userprofile.relevant_background }}</p><br>
            <p>Skills:</p> 
            {% if userprofile.product_management %}
                <p>Product Management</p>
            {% endif %} 
            {% if userprofile.web_development %}    <!-- does not show up? -->
                <p>Web development</p>
            {% endif %} 
            {% if userprofile.marketing %}
                <p>Marketing</p>
            {% endif %} 
            {% if userprofile.finance %}
                <p>Finance</p>      
            {% endif %} 
            <br>
            <p>Values:</p>
            <p>{{ userprofile.values }}</p><br>
            <p>Career Goals:</p>
            <p>{{ userprofile.career_goals }}</p><br>

            <p><a href="{% url 'profile_create' %}">Edit profile</a><hr>

            <!-- <p><a href="{% url 'profile_create' %}">Create your profile</a></p> -->
        
    </div>
{% endblock %}
