{% extends 'core/base.html' %}

{% block content %}
	<h1 class="title">Add job</h1>

	<form method="post" action=".">
		{% csrf_token %}

		{% if form.errors %}
			{% for error in form.errors %}
				<div class="notification is-danger">
					{{ error }}
				</div>
			{% endfor %}
		{% endif %}

		<div class="field">
			<label>Title</label>

			<div class="control">
				<input class="input" type="text" name="title" id="id_title">
			</div>
		</div>


		<div class="field">
			<label>Location</label>

			<div class="control">
				<input class="input" type="text" name="location" id="id_location">
			</div>
		</div>


		<div class="field">
			<label>Description</label>

			<div class="control">
				<textarea class="textarea" name="description" id="id_description"></textarea>
			</div>
		</div>


		<div class="field">
			<label>Skills</label>

			<!-- <div class="control">
				<textarea class="textarea" name="skills" id="id_skills"></textarea>
			</div>
		</div> -->
		<label class="container">Product Management
			<input type="checkbox" checked="checked">
			<span class="checkmark" name="product_management" id="id_product_management"></span>
		  </label>
		  
		  <label class="container">Web Development
			<input type="checkbox">
			<span class="checkmark" name="web_development" id="id_web_development"></span>
		  </label>
		  
		  <label class="container">User Experience
			<input type="checkbox">
			<span class="checkmark" name="user_experience" id="id_user_experience"></span>
		  </label>
		  
		  <label class="container">Marketing
			<input type="checkbox">
			<span class="checkmark" name="marketing" id="id_marketing"></span>
		  </label>

		  <label class="container">Finance
			<input type="checkbox">
			<span class="checkmark" name="finance" id="id_finance"></span>
		  </label><br><br>

		<div class="field">
			<label>Requirements</label>

			<div class="control">
				<textarea class="textarea" name="requirements" id="id_requirements"></textarea>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<button class="button is-success">Submit</button>
			</div>
		</div>
	</form>
{% endblock %}