{% extends 'core/base.html' %}

{% block content %}
	<h1 class="title">Apply for job - {{ job.title }}</h1>

	<form method="post" action=".">
		{% csrf_token %}

		{% if form.errors %}
			{% for error in form.errors %}
				<div class="notification is-danger">
					{{ error }}
				</div>
			{% endfor %}
		{% endif %}


		<div class="field">
			<label>Work History</label>

			<div class="control">
				<textarea class="textarea" name="work_history" id="id_work_history"></textarea>
			</div>
		</div>


		<div class="field">
			<label>Education</label>

			<div class="control">
				<textarea class="textarea" name="education" id="id_education"></textarea>
			</div>
		</div>

		<div class="field">
			<label>Projects</label>

			<div class="control">
				<textarea class="textarea" name="projects" id="id_projects"></textarea>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<button class="button is-success">Submit</button>
			</div>
		</div>
	</form>
{% endblock %}